<div class='row box-shadow margin-tb-30px'>  
    <div class='col-lg-12'>   
        <h3 class="bold center-align white-text">
            <img alt="Image" class="img-class" style="height: 50px;" src="../../assets/images/youtube.png">
            YOUTUBE VIDEOS</h3>
    </div>  
</div>  

<div class="videos">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/https://www.youtube.com/watch?v=LkI_lYuMlMQ"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/https://www.youtube.com/watch?v=7EALriUxuUI&amp;t=1570s"></iframe>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/qqCDdwrn8_I"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/iKX1S5drktw"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/82h1zJfuNfg"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/tq2Qdrg2MXw"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/190BjFceNIc"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/RQEH6UzobtI"></iframe>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/wTEVOwzSQz0"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/O1wsm6BTXUg"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/MRkoMSd6E9w"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/uZqUnXZnQQI"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/FqWm4v5wnWU"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/OVPKVUAf0vI"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/Z1NCSLK3l1Y"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/5gvBkbaoDtY"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/DRns3c4MOBc"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/XbQQ4N7lI2A"></iframe>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/TE0b6oCQuok"></iframe>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/wEmpoPsdpiY"></iframe>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/Kk2emjmszS8"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/8jwBTzPCmh4"></iframe>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/vd_bLwNNWLQ"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/kAWQmeozRg4"></iframe>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/BgugVPTCAyI"></iframe>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-4 margin-tb-30px">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="200" scrolling="no" width="325" src="https://www.youtube.com/embed/wcHf4frcFaE"></iframe>
        </div>
       
    </div>
</div>




