/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
html, body{
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
}   
.bold{
    font-weight: bold !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}
.center-align{
  text-align: center;
}
.left-align{
    text-align: left;  
}
.white-text{
  color: white;
}
.box-shadow{
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.margin-tb-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-tb-30px{
    margin-top: 30px;
    margin-bottom: 30px;
}
.margin-top-30px{
    margin-top: 30px;
}
.container {
    width: 1400px;
}
.bg-color{
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
}
@media screen and (max-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px;
    }
}  
.header-carousel-component .ng-image-slider .ng-image-slider-container .main{
    height: 500px !important;
}
.header-carousel-component .ng-image-slider{
    height: 500px !important;
} 
.margin-padding0{
    margin: 0px !important;
    padding: 0px !important;
}