<div class='row box-shadow margin-tb-30px'>  
    <div class='col-lg-12'>   
        <h3 class="bold center-align white-text">Course</h3>
    </div>  
</div> 
<div class='row margin-tb-30px'>  
    <div class='col-lg-12'>   
        <div class='col-lg-4 margin-tb-30px'>      
            <div class="box-shadow " style="height:450px;padding-top: 20px;">
                <h4 class="center-align white-text">IAS / KAS/ PSI EXAMS</h4>
                <img alt="" class="img-responsive" src="../../assets/images/course/1.jpg" 
                style="height:200px;width:200px;margin-left:20px;border-radius: 25px;margin:0 auto;">

                <p class="bold center-align white-text" style="margin:10px;">
                    Our Institute trains the aspirants to crack one of the toughest civil service exams.they will be trained immensely to meet and help the students to crack such civil service exams with ease
                    <br>
                    <button type="button" class="btn btn-primary col-md-6" style="margin: 20px;float: right;">Enroll Now</button>
                </p>
            </div>
        </div>  
        <div class='col-lg-4 margin-tb-30px'>       
            <div class="box-shadow " style="height:450px;padding-top: 20px;">
                <h4 class="center-align white-text">IBPS / SBI / RRB – PO / SO</h4>
                <img alt="" class="img-responsive" src="../../assets/images/course/2.jpg" style="height:200px;width:200px;margin-left:20px;border-radius: 25px;margin:0 auto;">

                <p class="bold center-align white-text" style="margin:10px;">
                    banking aspirants can easily achieve their goals with our help, we also train the students who are looking out for wide range of openings in banking sectors.
                    <br>
                    <button type="button" class="btn btn-primary col-md-6" style="margin: 20px;float: right;">Enroll Now</button>
                </p>
            </div>  
        </div>  
        <div class='col-lg-4 margin-tb-30px'>     
            <div class="box-shadow " style="height:450px;padding-top: 20px;">  
                <h4 class="center-align white-text">NEET / JEE / PGCET / CMAT</h4>
                <img alt="" class="img-responsive  " src="../../assets/images/course/3.jpg" style="height:200px;width:200px;margin-left:20px;border-radius: 25px;margin:0 auto;">

                <p class="bold center-align white-text" style="margin:10px;">
                    Students with zeal to crack tough exams and enter into one of the greatest institutes for their further studies are also trained by our experienced faculties.
                    <br>
                    
                    <button type="button" class="btn btn-primary col-md-6" style="margin: 20px;float: right;">Enroll Now</button>
                </p>
            </div>  
        </div>  
    </div>  
    <div class='col-lg-12'>   
        <div class='col-lg-4 margin-tb-30px'>          
            <div class="box-shadow " style="height:450px;padding-top: 20px;">
                <h4 class="center-align white-text">IAS / KAS/ PSI EXAMS</h4>
                <img alt="" class="img-responsive" src="../../assets/images/course/4.png" 
                style="height:200px;width:200px;margin-left:20px;border-radius: 25px;margin:0 auto;">

                <p class="bold center-align white-text" style="margin:10px;">
                    We also train the aspirants who are looking forward to crack the KPSC exams or any other openings in state governement level will be trained.
                    <br>
                    <button type="button" class="btn btn-primary col-md-6" style="margin: 20px;float: right;">Enroll Now</button>
                </p>
            </div>  
        </div>  
        <div class='col-lg-4 margin-tb-30px'>     
            <div class="box-shadow " style="height:450px;padding-top: 20px;">  
                <h4 class="center-align white-text">IBPS / SBI / RRB – PO / SO</h4>
                <img alt="" class="img-responsive  " src="../../assets/images/course/5.png" style="height:200px;width:200px;margin-left:20px;border-radius: 25px;margin:0 auto;">

                <p class="bold center-align white-text" style="margin:10px;">
                    We also help students to get into wide range of job openings under UGC sector with immense training along with study materials ,which eases their job to get qualified.
                    <br>
                    <button type="button" class="btn btn-primary col-md-6" style="margin: 20px;float: right;">Enroll Now</button>
                </p>
            </div>  
        </div>  
        <div class='col-lg-4 margin-tb-30px'>       
            <div class="box-shadow " style="height:450px;padding-top: 20px;">
                <h4 class="center-align white-text">NEET / JEE / PGCET / CMAT</h4>
                <img alt="" class="img-responsive  " src="../../assets/images/course/6.png" style="height:200px;width:200px;margin-left:20px;border-radius: 25px;margin:0 auto;">

                <p class="bold center-align white-text" style="margin:10px;">
                    Our Institute trains the students to get recruited under the wide openings of Indian railways, KSRTC & LIC Exams , all such exams can be cracked easily with our trainers help.
                    <br>
                    <button type="button" class="btn btn-primary col-md-6" style="margin: 20px;float: right;">Enroll Now</button>
                </p>
            </div>  
        </div>  
    </div>  
</div>  