<div class='row box-shadow margin-tb-30px'>  
    <div class='col-lg-12'>   
        <h3 class="bold center-align white-text">ABOUT US</h3>
    </div>  
</div>  

<div class='row margin-tb-30px'>  
    <div class='col-lg-12'>   
        <div class='col-lg-4'>   
            <img alt="" class="img-responsive  box-shadow " src="../../assets/images/aboutus/nanja naik_about_us.jpg" 
            style="height:300px;width:300px;margin-left:20px;border-radius: 25px;">

            <h3 class="bold center-align white-text"> Nanja Naik D , President</h3>
        </div>  
        <div class='col-lg-4'>   
            <img alt="" class="img-responsive box-shadow " src="../../assets/images/aboutus/mohan sir _about_us.jpeg" style="height:300px;width:300px;margin-left:20px;border-radius: 25px;">

            <h3 class="bold center-align white-text">Mohana Kumara M , Secretary</h3>
        </div>  
        <div class='col-lg-4'>   
            <img alt="" class="img-responsive box-shadow " src="../../assets/images/aboutus/mallikarjun.jpeg" style="height:300px;width:300px;margin-left:20px;border-radius: 25px;">

            <h3 class="bold center-align white-text"> Mallikarjun A.H , Director</h3>
        </div>  
    </div>  
</div>  
 
<div class='row margin-tb-30px'>  
    <div class='col-lg-12 white-text'>   
        <p>
            Spardha Karnataka Coaching Centre is an institution with a difference. It is one of the most prestigious and leading coaching centres of Karnataka. Our vision is to see the most dynamic, dedicated, disciplined civil servants to serve the nation. Our main branch is located at Shivamogga. Spardha Karnataka Coaching Centre has comprised committed, service minded, professional, resulted oriented faculties, University professors and academians of various walks of life, besides many successful IAS, KAS, KES officers are also rendering their honorary graceful service to convey their success path to script new history with upcoming aspirants of current generation.
        </p>
  
        <p>
            Our Centre has been providing best-in-class service to the aspirants for over 3 years. Whitin the short span of time and stint many candidates got selected and discharging their duties sincerely in the higher echelons of Government sector services such as PSIs, PDOs and so on
        </p>

        <p>
              Our Spardha Karnataka Coaching Centre is having state-of-the-art infrastructure and smart digital classes. We provide quality study materials of world renewed publishers and authors which will help all competitors of various examinations.
        </p>

        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            Online-Offline daily exams.
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            group discussions to be conducted round the clock.
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            Internet amenities.
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            Library and Lab facilites are our boosting points to strengthening the wings of our success.
        </p>
    </div>  
</div>  

<div class='row box-shadow margin-tb-30px'>  
    <div class='col-lg-12'>   
        <h3 class="bold center-align white-text">“Education is the key to unlock the golden door of freedom”</h3>
        <p class="float-right white-text">~Swami Vivekananda</p>
    </div>  
</div>  

<div class='row box-shadow margin-tb-30px'>  
    <div class='col-lg-12'>   
        <h3 class="bold center-align white-text">WHY SKCC</h3>
    </div>  
</div>  

<div class='row margin-tb-30px white-text'>  
    <div class='col-lg-12'>   
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            Our Organization has bagged the state’s top PC Wireless post 2018.</p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            Detailed information on the various posts and notifications of the Central and State Government has been providing to the aspirants.
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            We have been imparting a result oriented teaching from resource persons besides well ventilated classrooms and library amenities are available.
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            The Subject wise questions papers to be provided(free of cost).
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            High quality notes to be provided based on the subjective curriculum.
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            Model tests for various jobs to be conducted.(Every Week).
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            Banking Online Mock Tests (Daily).
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            E-Library facilities are available.
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            We are conducting Personality Development Classes and also Group Discussion.
        </p>
        <p>
            <img src="../../assets/images/checked.png" style="height:25px;width:25px;margin-right:10px;">
            Separate hostel facility is available for men and women
        </p>
    </div>  
</div>  