.container {
    width: 100%;
}
.container {
    width: 100%;
    max-width:100% !important;
}
.carousel-control-prev{
    background-color: transparent;
    border: none !important;
}
.carousel-item{
    width: 33.33%;
}
.panel{
    background-color: transparent;
    border: none !important;
    color: white !important;
}
.panel h3{
    margin: 0px !important;
}
.panel-default>.panel-heading{
    border: none !important;
}

















