
<img src="./assets/Spardaheader.png" alt="logo" style="width:100%;">

<nav class="navbar navbar-expand-lg navbar-light box-shadow"> 
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
          <a routerLink="/content" routerLinkActive="active" class="nav-link">Home</a>
      </li> 
      <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link">About Us</a>
      </li>
      <li class="nav-item">
        <a  routerLink="/gallery" routerLinkActive="active" 
        class="nav-link" href="#">Gallery</a></li>
      <li class="nav-item">
        <a routerLink="/videos" routerLinkActive="active" class="nav-link" href="#">Videos</a></li>
      <li class="nav-item">
        <a routerLink="/results" routerLinkActive="active" class="nav-link" href="#">Results</a></li> 
      <li class="nav-item"><a routerLink="/course" routerLinkActive="active" class="nav-link" href="#">Course</a>
      </li>
      <li class="nav-item">
        <a  routerLink="/currentaffairs" routerLinkActive="active"  class="nav-link" href="#">Current Affairs</a>
      </li>
      <li class="nav-item">
        <a   routerLink="/quiz" routerLinkActive="active" class="nav-link" href="#">Quiz</a>
      </li>
      <li class="nav-item">
        <a  routerLink="/mocktest" routerLinkActive="active" class="nav-link" href="#">Mock Test</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contactus" routerLinkActive="active" class="nav-link" href="#">Contact Us</a>
      </li>
      
    </ul>
    
  </div>
</nav>


