<div id="wrapper" class="sidenav">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="#">IAS</a></li>
            <li><a href="#">KAS</a></li>
            <li><a href="#">IBPS</a></li>
            <li><a href="#">UGC NET</a></li>
            <li><a href="#">TET</a></li>
            <li><a href="#">PSI</a></li>
            <li><a href="#">Police Constable</a></li>
            <li><a href="#">FDA/SDA</a></li>
            <li><a href="#">KFD</a></li>
            <li><a href="#">KPSC Group-C</a></li>
            <li><a href="#">PDO</a></li>
            <li><a href="#">RRB</a> </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <marquee _ngcontent-tip-c7="" behavior="alternate" bgcolor="#eff1f9" direction="left" scrollamount="4" style="height:410px;" width="100%"><img _ngcontent-tip-c7="" src="../../assets/images/nudi.png" style="margin-left: 10px;"><img _ngcontent-tip-c7="" src="../../assets/images/itihaasa.png" style="margin-left: 10px;"></marquee>    

</div>
