<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <img _ngcontent-tip-c4="" src="../../assets/images/circle-cropped.png">
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Courses</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Develop Yourself</h3>
                    <ul>
                        <li><a href="#">Elibrary</a></li>
                        <li><a href="#">Quiz</a></li>
                        <li><a href="#">Mock Test</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Read More</h3>
                    <ul>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Cancellation and Refund Policy</a></li>
                    </ul>
                </div>
            </div>
          
              
            <div class="row">
                <div class="col item social">
                    <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faMailchimp"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
                </div>
            </div>
            <p class="copyright">© 2022 Copyright Spardha Karnataka Coaching Centre. All Rights are Reserved</p>
        </div>
    </footer>